<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <ul>
          {{#each places}}
          <li>
            <p>City: {{city}}</p> 
            <p>FullName: {{fullName}}</p> 
            <p>Height: {{height}}</p> 
            <p>Coordinates: {{itrf_coordinates}}</p>
          </li>
          {{/each}}
        </ul>   
    </div>
</div>
<div class="row">
    <div class="col-md-4">ok</div>
    <div class="col-md-4">ok</div>
    <div class="col-md-4">ok</div>
    <div class="col-md-4">ok</div>
</div>
