<div class="admin-form">
  <div class="panel">
    <div class="panel-body bg-light">
      <form class="form-horizontal" role="form">
        <div class="section-divider mb40" id="spy1">
        </div>
        
        <div class="form-group">
          <label for="town" class="col-lg-3 control-label">Delegación</label>
          <div class="col-lg-8">
            <div class="bs-component">
              <select class="form-control" name="town">
                <option value="0" selected="selected"> --Seleccionar-- </option>
                <option value="Alvaro Obregón">Alvaro Obregón</option>
                <option value="Azcapotzalco">Azcapotzalco</option>
                <option value="Benito Juárez">Benito Juárez</option>
                <option value="Cuajimalpa de Morelos">Cuajimalpa de Morelos</option>
                <option value="Cuauhtémoc">Cuauhtémoc</option>
                <option value="Coyoacán">Coyoacán</option>
                <option value="Gustavo A. Madero">Gustavo A. Madero</option>
                <option value="Iztacalco">Iztacalco</option>
                <option value="Iztapalapa">Iztapalapa</option>
                <option value="Magdalena Contreras">Magdalena Contreras</option>
                <option value="Miguel Hidalgo">Miguel Hidalgo</option>
                <option value="Milpa Alta">Milpa Alta</option>
                <option value="Tláhuac">Tláhuac</option>
                <option value="Tlalpan">Tlalpan</option>
                <option value="Venustiano Carranza">Venustiano Carranza</option>
                <option value="Xochimilco">Xochimilco</option>
              </select> 
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <form name="">
    <table>
      <tbody>
        <tr>
          <td colspan="2">Delegación: </td>
          <td>
            <select name="town">
              <option value="0" selected="selected"> -- -- -- -- </option>
              <option value="Alvaro Obregón">Alvaro Obregón</option>
              <option value="Azcapotzalco">Azcapotzalco</option>
              <option value="Benito Juárez">Benito Juárez</option>
              <option value="Cuajimalpa de Morelos">Cuajimalpa de Morelos</option>
              <option value="Cuauhtémoc">Cuauhtémoc</option>
              <option value="Coyoacán">Coyoacán</option>
              <option value="Gustavo A. Madero">Gustavo A. Madero</option>
              <option value="Iztacalco">Iztacalco</option>
              <option value="Iztapalapa">Iztapalapa</option>
              <option value="Magdalena Contreras">Magdalena Contreras</option>
              <option value="Miguel Hidalgo">Miguel Hidalgo</option>
              <option value="Milpa Alta">Milpa Alta</option>
              <option value="Tláhuac">Tláhuac</option>
              <option value="Tlalpan">Tlalpan</option>
              <option value="Venustiano Carranza">Venustiano Carranza</option>
              <option value="Xochimilco">Xochimilco</option>
            </select>
          </td> 
        </tr>
        <tr>
          <td>
            Latitud/Longitud
          </td>
          <td><input type="text" name="latitude" value="0" disabled></td>
          <td><input type="text" name="longitude" value="0" disabled></td>
        </tr>
        <tr>
          <td colspan="2">Radio de búsqueda (metros): </td>
          <td><input name="distance" type="number"/></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </form>
  </div>
</div>
<div class="row" id="detailedWeatherInformation">
   
</div>
<div id="chartContainer" class="row">
  <div class="col-md-8 col-md-offset-2">
    <div id="map" class="row"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-4">
    <h6> Ambienta2MX - Instituto Politécnico Nacional </h6> 
  </div>
</div>
