<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h3>Información Climatológica de</h3>
		<h4> {{place}} </h4>
	</div>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div id="charts" class="row">
			<div class="col-md-6">
				<h4> Detalles </h4>
				<h6> Búsqueda según realizada con base en el nombre de la locación. </h6>
				<table border="0">
					<tr>
						<td>Temperatura Promedio:&nbsp;</td>
						<td>{{averageTemperature}}</td>
					</tr>
					<tr>
						<td>Temperatura Máxima:&nbsp; </td>
						<td>{{maxTemperature}}</td>
					</tr>
					<tr>
						<td>Temperatura Mínima:&nbsp;</td>
						<td>{{minTemperature}}</td>
					</tr>
				</table>
				
			</div>
			<div class="col-md-6">
				<canvas id="weatherChart" width="500" height="300"></canvas>
			</div>
		</div>
		<br>
		<div id="chartContainer" class="row">
			<div class="col-md-8 col-md-offset-2">
				<div id="map" class="row"></div>
			</div>
		</div>
		<br>
	</div>	
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-4">
		<h6> Ambienta2MX - Instituto Politécnico Nacional </h6>	
	</div>
</div>
