<div class="admin-form">
  <div class="panel">
    <div class="panel-body bg-light">
      <form class="form-horizontal" id="byLatLng" name="byLatLng" >
        <div class="form-group">
          <label for="town" class="col-lg-3 col-md-2 col-sm-2 col-xs-12 control-label">Delegación</label>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div class="bs-component">
              <select class="form-control" name="town">
                <option value="0" selected="selected"> --Seleccionar-- </option>
                <option value="Alvaro Obregón">Alvaro Obregón</option>
                <option value="Azcapotzalco">Azcapotzalco</option>
                <option value="Benito Juárez">Benito Juárez</option>
                <option value="Cuajimalpa de Morelos">Cuajimalpa de Morelos</option>
                <option value="Cuauhtémoc">Cuauhtémoc</option>
                <option value="Coyoacán">Coyoacán</option>
                <option value="Gustavo A. Madero">Gustavo A. Madero</option>
                <option value="Iztacalco">Iztacalco</option>
                <option value="Iztapalapa">Iztapalapa</option>
                <option value="Magdalena Contreras">Magdalena Contreras</option>
                <option value="Miguel Hidalgo">Miguel Hidalgo</option>
                <option value="Milpa Alta">Milpa Alta</option>
                <option value="Tláhuac">Tláhuac</option>
                <option value="Tlalpan">Tlalpan</option>
                <option value="Venustiano Carranza">Venustiano Carranza</option>
                <option value="Xochimilco">Xochimilco</option>
              </select> 
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 col-md-2 col-sm-2 col-xs-4 control-label">Latitud:</label>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-8">
            <label class="control-label"> 
              <b class="text-latitude"></b>
            </label>
          </div>
          <input type="hidden" name="latitude" value="0" />
        </div>

        <div class="form-group">
          <label class="col-lg-3 col-md-2 col-sm-2 col-xs-4 control-label">Longitud:</label>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-8">
            <label class="control-label">
              <b class="text-longitude"></b>
            </label>
          </div>
          <input type="hidden" name="longitude" value="0" />
        </div>
        
        <div class="form-group">
          <label class="col-lg-3 col-md-2 col-sm-2 col-xs-12 control-label">Radio de búsqueda (metros):</label>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="bs-component">
              <input name="distance" class="form-control ui-spinner-input" type="number" />
            </div>
          </div>
        </div>

        <div class="text-right">
          <input type="submit" class="button btn-primary" value="Buscar"></input>
        </div>

      </form>
    </div>
  </div>
</div>

<div class="panel">
  <div class="panel-body">
    <div id="map" class="map"></div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-4">
    <h6> Ambienta2MX - Instituto Politécnico Nacional </h6> 
  </div>
</div>

<div class="row" id="detailedWeatherInformation">
</div>

<div id="chartContainer" class="row">
  <div class="col-md-8 col-md-offset-2">
    
  </div>
</div>
